<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="maniac.jumbledwordsgame">

    <application
        android:name=".Trie"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity android:name=".Setup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:parentActivityName=".Setup"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="maniac.jumbledwordsgame.Setup" />
        </activity>
        <activity
            android:name=".Success"
            android:label="@string/title_activity_success"
            android:parentActivityName=".Game"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="maniac.jumbledwordsgame.Game" />
        </activity>
    </application>

</manifest>
