*{
 margin:0px;
 padding:0px;
 }
 body{
	background-color:#F0F0F0;
 font-family:Tahoma, Geneva, sans-serif;
  }
 #title
 {
	 width:100%;
	 
	 box-shadow:0 0 3px #999;
 }
  #header{
	  width:100%;
  }
  #welcome
  {color:  #004687;
      
	 display:inline;
	
	margin-left:50%;
	 font-size:30px;
	 font-weight:200;
	 text-align:right;
  }
 #logout{
	margin-right:10px;
	display:block;
	
	
 width:100px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 
 cursor: pointer;
 
 font-weight:bold;
	text-transform:uppercase;
}
#button{
	  display:inline;
	  float:right;
  }
  #list{
	  
	  margin-top:50px;
	  
  }

 #ticket{
	  font-weight:bold;
color:#202020;	  
	 width:450px;
	 margin:auto;
	 padding-left:15px;
	 background-color:#B6B6B6;
	 box-shadow:0 0 3px #999;
	 border-style:solid;
	 border-color:#B81D18;
	 border-width:20px;
 }
 #info{
	 padding: 15px 0 10px 15px;
 }
 

 
 #home{
	 
	
	display:block;
	font-weight:bold;
	text-transform:uppercase;
 width:100px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 margin-top:10px;
 cursor: pointer;
	 
 }
 #home:hover,#logout:hover{
	 
	  background-color: #B81D18;
 }
 