*{
 margin:0px;
 padding:0px;
 }
body{
	background-color:#F0F0F0;
 font-family:Tahoma, Geneva, sans-serif;
  }
 #title
 {
	 width:100%;
	 
	 box-shadow:0 0 3px #999;
 }
  #header{
	  width:100%;
  }
  #welcome
  {color:  #004687;
      
	 display:inline;
	
	margin-left:50%;
	 font-size:30px;
	 font-weight:200;
	 text-align:right;
  }
 #logout{
	margin-right:10px;
	display:block;
	
	
 width:100px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 
 cursor: pointer;
 
 font-weight:bold;
	text-transform:uppercase;
}
#button{
	  display:inline;
	  float:right;
  }
 #notif{
	   padding:10px 10px 10px 10px;
	 width:550px;
	 margin:auto;
	 margin-top:50px;
	 background-color:#B6B6B6;
	 box-shadow:0 0 3px #999;
	 font-size:20px;
	 color:#B81D18;
	 border-style:solid;
	 border-width:3px;
	 border-color:#004687;
	 font-weight:bold;
 }
 #statussubmit,#homesubmit
 {
	 
	 display:block;
	font-weight:bold;
	text-transform:uppercase;
 width:200px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 margin-top:10px;
 margin-bottom:5px;
 cursor: pointer;
 }
#statussubmit:hover,#homesubmit:hover,#logout:hover{
	
		 background-color:#B81D18;

}