*{
 margin:0px;
 padding:0px;
 }
body{
	background-color:#F0F0F0;
 font-family:Tahoma, Geneva, sans-serif;
  }
 #title
 {
	 width:100%;
	
	 box-shadow:0 0 3px #999;
 }
 #container{
	   padding:10px;
      padding-left:10px;
	 width:550px;
	 margin:auto;
	 margin-top:70px;
	 background-color:#B6B6B6;
	 box-shadow:0 0 3px #999;
	 color:#202020;
	 border-style:solid;
	 border-width:3px;
	 border-color:#004687;
	 font-weight:bold;
	 
 }
 #check_status_form{
	 padding: 15px 0 10px 0;
 }
 .input_ticket_id{
		padding:5px;
	width:190px;
	margin:10px;
	font-size:18px;
	width:190px;
	border-style:solid;
	 border-width:2px;
	 border-color:#004687;
 }
 #checkstatus{
 display:block;
	font-weight:bold;
	text-transform:uppercase;
 width:200px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 margin-top:10px;
 cursor: pointer;
 }
  #checkstatus:hover {
    background-color: #B81D18;
}
#errorBox{
  font-weight:normal;
	 color:#B81D18;
 }