*{
 margin:0px;
 padding:0px;
 }
body{
	background-color:#F0F0F0;
 font-family:Tahoma, Geneva, sans-serif;
  }
 #container
 {    padding:10px;
      padding-left:10px;
	 width:550px;
	 margin:auto;
	 margin-top:70px;
	 background-color:#B6B6B6;
	 box-shadow:0 0 3px #999;
	 color:#202020;
	 border-style:solid;
	 border-width:3px;
	 border-color:#004687;
	 font-weight:bold;
 }
 #title
 {
	 width:100%;
	 
	 
	
	 box-shadow:0 0 3px #999;
 }
 #nav
 {
	 padding:10px;
 }
 #source_form,#destination_form,#date_form{
	 padding:10px 0 10px 10px;
	 text-weight:bold;
 }
 
.input_source,.input_destination,.input_date{
	padding:5px;
	width:190px;
	margin:10px;
	font-size:18px;
	width:190px;
	border-style:solid;
	 border-width:2px;
	 border-color:#004687;
}
#search_train{
	display:block;
	font-weight:bold;
	text-transform:uppercase;
 width:100px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 margin-top:10px;
 cursor: pointer;
 }
li {display: inline;
    padding: 5px;
    padding-right:6px;
    float:right;
   
}
#search_train:hover{
	background-color:#B81D18;
}
a:link, a:visited {
    display: block;
    width: 200px;
    font-weight: bold;
    color: #F0F0F0;
    background-color: #004687;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
	border-style:solid;
	 border-width:1px;
	 border-color:#B6B6B6;
}

a:hover, a:active {
    background-color: #B81D18;
}
#errorBox{
  font-weight:normal;
	 color:#B81D18;
 }