*{
 margin:0px;
 padding:0px;
 }
body{background-color:#F0F0F0;
  
 font-family:Tahoma, Geneva, sans-serif;
  }
    #welcome
  {
	  width:200px;
	  background-color:rgba(250,950,252,.9);
	 box-shadow:0 0 3px #999;
	 margin-left:45%;
	 margin-top:200px;
	 font-size:40px;
	 font-weight:450;
	 text-align:center;
	  display:inline;
  }
#container1
 {    padding:5px 0 20px 20px;
	 width:500px;
	 float:left;
	 margin-top:100px;
	 margin-left:500px;
	 
	 
	 
	  display:inline-block;
 }
 
 #title
 {
	 width:100%;
	 background-color:rgba(250,950,252,.9);
	 text-align:center;
	 font-size:50px;
	 font-weight:500;
	 box-shadow:0 0 3px #999;
 }

table {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
	
}
th{
	  font-size: 1em;
    border: 2px solid #004687;
    background-color:#2E5C8A;
	padding: 10px;
}

td{
	font-size: 1.1em;
    text-align: left;
    padding : 10px;
   background-color:#B6B6B6;
    color: #ffffff;
	border: 2px solid #004687;
}

#book{
 display:block;
	font-weight:bold;
	text-transform:uppercase;
 width:100px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 margin-top:10px;
 cursor: pointer;
}
#book:hover{
	background-color:#B81D18;
	
}

	
	
}
