*{
 margin:0px;
 padding:0px;
 }
body{
	background-color:#F0F0F0;

 font-family:Tahoma, Geneva, sans-serif;
  }
  #header{
	  width:100%;
  }
  #button{
	  display:inline;
	  float:right;
  }
  #welcome
  {
	color:  #004687;
      
	 display:inline;
	
	margin-left:50%;
	 font-size:30px;
	 font-weight:200;
	 text-align:right;
	  
  }
  #container{
	  overflow:hidden;
	  
  }
#container2{
	 padding:10px;
      padding-left:10px;
	 width:500px;
	 margin-left:60%;
	
	 margin-top:50px;
	 background-color:#B6B6B6;
	 box-shadow:0 0 3px #999;
	 color:#202020;
	 border-style:solid;
	 border-width:3px;
	 border-color:#004687;
	 	 font-weight:bold;
		 overflow:hidden;
		
		 
		 
	
}
 #container1
 {     padding:10px;
      padding-left:10px;
	 width:550px;
	 margin-left:200px;
	 margin-top:50px;
	 background-color:#B6B6B6;
	 box-shadow:0 0 3px #999;
	 color:#202020;
	 border-style:solid;
	 border-width:3px;
	 border-color:#004687;
	 	 font-weight:bold;
 float:left;
 }
 
#title
 {
	 width:100%;
	 
	 
	
	 box-shadow:0 0 3px #999;
 }
 #date_form,#source_form,#destination_form
 {
	 padding: 15px 0 10px 10px;
 }
 .input_source,.input_destination,.input_date{
	padding:5px;
	margin:10px;
	font-size:18px;
	width:250px;
	border-style:solid;
	 border-width:2px;
	 border-color:#004687;
 }
 
 #search_train{
  display:block;
	font-weight:bold;
	text-transform:uppercase;
 width:100px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 margin-top:10px;
 cursor: pointer;
 }
 
 #logout{
	
	margin-right:10px;
	display:block;
	
	
 width:100px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 margin-top:px;
 cursor: pointer;
 cursor: pointer;
 font-weight:bold;
	text-transform:uppercase;
}
 #check_status,#cancel{
 margin-left:50px;
	display:block;
	font-weight:bold;
	text-transform:uppercase;
 width:200px;
 font-size:14px;
 color:#F0F0F0;
 text-align:center;
 background-color:#004687;
 padding:10px;
 
 cursor: pointer;
 }
 #check_status:hover,#cancel:hover,#search_train:hover,#logout:hover{
	background-color:#B81D18;
 }
 #errorBox{
	 font-weight:normal;
	 color:#B81D18;
 }
 
